@import 'tailwindcss';

@theme {
  /* В v4 мы объявляем кастомные цвета через --color-*.
    Это автоматически создаст классы bg-brand, text-brand, border-brand.
  */
  --color-brand: var(--brand-color);

  /* Шрифты */
  --font-cruinn: var(--font-cruinn);
  --font-inter: var(--font-geist-inter);
}

:root {
  /* Значения по умолчанию */
  --brand-color: #b45309; /* Твой янтарный цвет */

  --background: #f8f6f7;
  --foreground: #111111;
}

/* Базовые стили */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  /* antialiased в v4 включен по умолчанию, но можно оставить */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Утилиты (в v4 работают так же через @layer) */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
