@import "tailwindcss";

html {
  font-size: 16px;
}

@theme {
  /* Tailwind v4 font token to use Cruinn via class font-cruinn-tw */
  --font-cruinn-tw: 'Cruinn';
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* для IE и Edge */
    scrollbar-width: none;     /* для Firefox */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: #21201F;
  font-family: var(--font-geist-inter), var(--font-cruinn);
}
